<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">

    <title>School Enrollment | Courses</title>

    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">School enrollment</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="https://www.timeanddate.com/worldclock/" target="_blank" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Time and date</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" th:href="@{/courses}">
                  <span data-feather="book"></span>
                  Courses <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">
                  <span data-feather="users"></span>
                  Students
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/teachers}">
                  <span data-feather="award"></span>
                  Teachers
                </a>
              </li>
            </ul>
            
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Course schedule</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a th:href="@{'/courses/schedule/' + ${courseID} + '/create'}"><button class="btn btn-sm btn-outline-success">
                <span data-feather="plus"></span>
                Add new
              </button></a>
            </div>
          </div>

          <h4 class="mb-3">Schedule of <span th:text="${courseID}"></span></h4>
          <div class="table-responsive">

            <div th:unless="${#lists.isEmpty(intervals)}">
              <div th:if="${intervals[0].errorMessage}" th:text="${intervals[0].errorMessage}" class="alert alert-danger" role="alert">
                Error message.
              </div>
            </div>

            <div th:if="${#lists.isEmpty(intervals)}" class="alert alert-warning" role="alert">
              There is no schedule registered in the system for <span th:text="${courseID}">ID</span>.
            </div>

            <div th:unless="${#lists.isEmpty(intervals)}">
              <table th:unless="${intervals[0].errorMessage}" class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Day of week</th>
                    <th>Starting time</th>
                    <th>Ending time</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="interval : ${intervals}">
                    <td th:text="${interval.day}">Day</td>
                    <td th:text="${interval.start}">Start</td>
                    <td th:text="${interval.finish}">Finish</td>
                    <td>
                      <a th:href="@{'/courses/schedule/' + ${courseID} + '/delete?day=' + ${interval.day} + '&start=' + ${interval.start} + '&finish=' + ${interval.finish}}"><button type="button" alt="Delete" class="btn btn-danger"><span data-feather="x"></span></button></a>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
